body{
	padding: 0;
	margin: 0;
}
#box1{
	width: 100%;
	
}
#box2{
	width: 100%;
}
#box3{
	width: 100%;
}
#box4{
	width: 100%;
}
#box5{
	width: 100%;
}
#box6{
	width: 100%;
	float: left;

	.phong{
		background: url(../img/bg1.jpg) top center;
		width: 100%;
		height: auto;
		background: cover;
		overflow: hidden;

		.pic{
			width: 100%;
			
			height: 300px;
			

			h3.headerh3{
				font-size: 20px;
				color:#fff;
				display: block;
				text-align: center;
				padding-top: 35px;
			}
			.container{
			    float: left;
			    //background: #000;
			    margin-left: 15%;



				.p1{
				margin-top: 15px;
				width: 100%;
				height: 70px;
				

				img{
					width: 90px;
					height: 70px;


			}
				}
				

				
			.p2{
				//background: green;
				margin-top: 20px;
				width: 100%;
				height: 70px;


				img{
					width: 90px;
					height: 70px;
				}
			}
		}


	}
	.text{
		width: 100%;
		height: 300px;

		h3.headerh31{
			font-size: 25px;
			color:#fff;
			display: block;
			text-align: center;
			padding-top: 35px;
		}
		.phong2{
			width: 100%;
				//background: #000;
				height: 250px;

				.carousel-inner{
					position: relative;
					width: 100%;
					overflow: hidden;

					.t1{
						width: 60%;
					//background: #fff;
					margin-left: 20%;

					p{
						display: block;
						text-align: center;
						padding-top: 30px;
						font-size: 18px;
						color:#fff;

					}
				}	
			}

			.carousel-control-prev{
				width: 30px;
				height: 30px;
				margin-top: 25%;
				margin-left: 40%;

			}

			i.fab{
				font-size: 25px;
				color:#fff;
				margin-top: 5%;
				margin-left: 48%;
			}
			.carousel-control-next{
				width: 30px;
				height: 30px;
				margin-top: 25%;
				margin-right: 40%;
			}
		}

	}
}

.phong3{
	background-color: #272727;
	width: 100%;
	height: auto;

	.c1{
		width: 100%;
		height: 300px;
		//background: red;

		img{
			width: 70%;
			padding-top: 50px;
			padding-left: 20%;
		}
		p{
			margin-bottom: 20px;
			    color: #bfbfbf;
			    padding-left: 20%;
			    font-size: 14px;
		}
	}
	.c2{
		width: 100%;
		//background: green;
		height: 300px;

		h3{
			color: #dddddd;
			font-size: 20px;
			padding-top: 50px;
		}

		i.fas{
			width: 100%;
			color: #7f7f7f;
			margin-top: 15px;
			font-size: 14px;
			border-bottom: 1px solid #7f7f7f;
			padding-bottom: 10px;
		}
	}
	.c3{
		width: 100%;
		height: 300px;

		h3{
			color: #dddddd;
			font-size: 20px;
			padding-top: 50px;
			padding-left: 7%;
		}
        .pt1{
        	margin-top: 15px;
        	width: auto;
        	height: 70px;
        	margin-left: 4%;

        	img{
        		width: auto;
        		height: 100%;
        	}

        }
        .pt2{

        	width: 100%;
        	height: 70px;
        	margin-left: 4%;
        	margin-top: 20px;

        	img{
        		width: auto;
        		height: 100%;
        	}
        }

	}
	.c4{
		width: 100%;
		height: 300px;

		h3{
			color: #dddddd;
			font-size: 20px;
			padding-top: 50px;
		}
		p{
			color:#dddddd;

		}
	}
}

}
#box7{
	width: 100%;
}	