body {
  padding: 0;
  margin: 0;
}
.hai1 {
  position: relative;
}
#box1 {
  width: 100%;
  float: left;
  height: auto;
}
#box1 .hai7 {
  width: 100%;
  height: auto;
}
#box1 .hai7 .hai99 {
  padding-bottom: 15%;
  padding-left: 20%;
  font-family: 'Playfair Display', serif;
}
#box1 .hai7 .hai99 h1 {
  color: #828e99;
  font-size: 50pt;
}
#box1 .hai7 .hai99 h2 {
  color: red;
  font-size: 40pt;
}
#box1 .hai7 .hai99 p {
  color: green;
  margin-right: 42%;
  font-size: 15pt;
}
#box1 .hai7 .hai99 span {
  color: #42ebf4;
}
#box1 .hai7 .hai99 button {
  width: 150px;
  height: 50px;
  background: none;
  border: solid 1px blue;
  border-radius: 1px;
}
#box1 .hai7 .hai99 button a {
  text-decoration: none;
  color: #ff00ae;
}
#box1 .hai7 .hai97 {
  padding-bottom: 10%;
  padding-left: 25%;
  font-family: 'Playfair Display', serif;
}
#box1 .hai7 .hai97 h1 {
  color: red;
  font-size: 50pt;
}
#box1 .hai7 .hai97 h2 {
  color: red;
}
#box1 .hai7 .hai97 p {
  color: green;
  font-size: 20pt;
}
#box1 .hai7 .hai97 span {
  color: #00ffd0;
  font-size: 45pt;
}
#box1 .hai7 .hai97 button {
  width: 180px;
  height: 50px;
  background: none;
  border: solid 1px #ff00ae;
  border-radius: 1px;
}
#box1 .hai7 .hai97 button a {
  text-decoration: none;
  color: #ff00ae;
}
#box1 .hai7 .hai97 button a:hover {
  color: blue;
}
#box1 .hai7 .hai98 {
  width: 100%;
  padding-bottom: 10%;
  padding-right: 50%;
  position: absolute;
  font-family: 'Playfair Display', serif;
}
#box1 .hai7 .hai98 h1 {
  color: #ff6100;
  font-size: 40pt;
}
#box1 .hai7 .hai98 h2 {
  color: red;
  font-size: 30pt;
}
#box1 .hai7 .hai98 p {
  color: green;
  font-size: 10pt;
}
#box1 .hai7 .hai98 button {
  width: 150px;
  height: 50px;
  background: none;
  border: solid 1px #00d8ff;
  border-radius: 1px;
}
#box1 .hai7 .hai98 button a {
  text-decoration: none;
  color: #00d8ff;
}
#box1 .hai7 .hai98 button a:hover {
  color: #00d8ff navbar-toggler-icon;
}
#box1 .hai8 {
  width: 100%;
  background: lightblue;
  position: fixed;
  top: 0;
}
#box1 .hai8 .hai1 {
  color: white;
  font-size: 12px;
}
@media (max-width: 768px) {
  #box1 .hai8 .hai1 {
    display: none;
  }
}
#box1 .hai8 .hai1 .hai52 {
  margin-left: 50px;
}
#box1 .hai8 .hai1 .hai51 {
  margin-left: 0%;
}
#box1 .hai8 .hai1 .hai53 {
  margin-left: 5%;
}
#box1 .hai8 .hai1 .hai54 {
  margin-left: -3%;
}
#box1 .hai8 .hai1 .hai55 {
  margin-left: -5%;
}
#box1 .hai8 .hai1 .hai55 i {
  color: white;
}
#box1 .hai9 {
  top: 13;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.4);
}
#box1 .hai9 .dropdown-menu {
  background: black;
  z-index: 5;
  margin-top: 10px;
}
#box1 .hai9 .dropdown-menu .dropdown-item {
  color: white;
  z-index: 5;
}
#box1 .hai9 .dropdown-menu .dropdown-item:hover {
  background: black;
  color: red;
}
#box1 .hai9 .hai3 {
  margin-left: 35px;
  line-height: 30px;
}
@media (max-width: 375px) {
  #box1 .hai9 .hh1 {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
  }
}
@media (max-width: 320px) {
  #box1 .hai9 .hh1 {
    position: absolute;
    top: 0;
    left: 0;
  }
}
#box1 .hai9 .mn {
  margin-left: 18%;
}
@media (max-width: 768px) {
  #box1 .hai9 .mn {
    background: black;
    margin-top: 10px;
    margin-left: 100px;
  }
  #box1 .hai9 .mn a {
    color: white;
  }
}
#box1 .hai9 .mn li {
  padding-left: 19px;
}
#box1 .hai9 .mn li a {
  font-style: italic;
}
#box2 {
  width: 100%;
}
#box3 {
  width: 100%;
}
#box4 {
  width: 100%;
}
#box5 {
  width: 100%;
}
#box6 {
  width: 100%;
}
#box7 {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */